cffi==1.12.3
Click==7.0
cloudpickle==1.1.1
cycler==0.10.0
dask==1.2.2
decorator==4.4.0
Faker==1.0.5
Flask==1.0.3
Flask-SocketIO==4.0.0
gevent==1.4.0
glob3==0.0.1
graphviz==0.5.1
greenlet==0.4.15
h5py==2.9.0
imageio==2.5.0
itsdangerous==1.1.0
Jinja2==2.10.1
joblib==0.13.2
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
Markdown==3.1
MarkupSafe==1.1.1
matplotlib==3.0.3
networkx==2.3
numpy==1.16.3
opencv-contrib-python==3.3.0.10
Pillow==8.2.0
pycparser==2.19
pymongo==3.8.0
pyparsing==2.4.0
python-dateutil==2.8.0
python-engineio==3.6.0
python-socketio==4.0.3
PyWavelets==1.0.3
scikit-image==0.15.0
scikit-learn==0.21.2
scipy==1.2.1
six==1.12.0
sklearn==0.0
text-unidecode==1.2
toolz==0.9.0
Werkzeug==0.15.4
