absl-py==0.7.1
astor==0.7.1
cycler==0.10.0
gast==0.2.2
graphviz==0.5.1
grpcio==1.19.0
h5py==2.9.0
kiwisolver==1.0.1
Markdown==3.1
matplotlib==3.0.3
neupy==0.8.1
numpy==1.14.5
opencv-contrib-python==3.4.2.16
opencv-python==3.4.2.16
progressbar2==3.34.3
protobuf==3.7.1
pyparsing==2.3.1
python-dateutil==2.8.0
python-utils==2.3.0
scipy==1.2.1
six==1.12.0
tensorboard==1.10.0
tensorflow==1.10.1
termcolor==1.1.0
Werkzeug==0.15.1
